<!DOCTYPE html>
<html>

<head><%- include('./partials/head') %></head>

<body>
  <header>
    <%- include('./partials/header') %>
  </header>
  <main>
    <ul class="addImageParent"><% imageList.forEach(image => { %>
      <li class="addImageContainer" data-id="<%= image.id %>">
        <img class="addImage" src="<%= image.img_url %>" alt="searchImages">
        <h3 class="image_title"><%= image.title %></h3>
        <form action="/favorites" method="POST">
          <input type="hidden" name="img_url" value="<%= image.img_url %>"></input>
          <input type="hidden" name="title" value="<%= image.title %>"></input>
          <button class="add_to_favorites" type="submit">Add To Favorites</button>
        </form>
      </li>
      <%  }) %>
    </ul>
  </main>
  <footer>
    <%- include('./partials/footer') %>
  </footer>
</body>

</html>