<!DOCTYPE html>
<html>

<head><%- include('./partials/head') %></head>

<!-- <body onload=display_ct();> -->

<body>
  <header>
    <%- include('./partials/header') %>
  </header>
  <main>
    <!-- <section>Date and Time Here</section> -->
    <div class="daily_content">
      <img class="daily_img" src="<%= dailyUpdate.img_url %>">
      <section class="text_container">
        <h2><%= dailyUpdate.title %> </h2>
        <article><%= dailyUpdate.explanation %></article>
      </section>
    </div>
    <div class="imgContainer">
      <form class="searchImage" action="/image-results" method="POST">
        <input type="text" name="search" placeholder="search-query" id="search" required>
        <input type="hidden" name="search" value="image">
        <button type="submit" class="imageSearch">NASA Image Search</button>
      </form>
      <form class="searchLaunch" action="placeHolderForRoute" method="POST">
        <button type="submit" class="rocketSearch">Upcoming Rocket Launches</button>
      </form>
    </div>
  </main>
  <footer>
    <%- include('./partials/footer') %>
  </footer>
</body>

</html>