<!DOCTYPE html>
<html>

<head><%- include('./partials/head') %></head>

<body onload=display_ct();>

  <header>
    <%- include('./partials/header') %>
  </header>
  <main>
    <!-- <section>Date and Time Here</section> -->
    <div class="daily_content">
      <img class="daily_img" src="<%= dailyUpdate.img_url %>">
      <section class="text_container">
        <h2><%= dailyUpdate.title %> </h2>
        <article><%= dailyUpdate.explanation %></article>
      </section>
    </div>
    <div>
      <section>Search for Images
        <form class="searchImage" action="/image-results" method="POST">
          <input type="text" name="search" placeholder="search-query" id="search" required>
          <fieldset>
            <label for="image">Image Search</label>
            <input type="hidden" name="search" value="image">
          </fieldset>
          <button type="submit">Warp Image Search</button>
        </form>
        <form class="searchLaunch" action="placeHolderForRoute" method="POST">
          <fieldset>
            <label for="launch">Launch Search</label>
            <!-- <input type="radio" name="search" value="launch"> -->
          </fieldset>
          <button type="submit">Warp Launch Search</button>
        </form>
      </section>
    </div>
  </main>
  <footer>
    <%- include('./partials/footer') %>
  </footer>
  <script src="./js/app.js"></script>>
</body>

</html>