<!DOCTYPE html>
<html>

<head><%- include('./partials/head') %></head>

<body>
  <header>
    <%- include('./partials/header') %>
  </header>
  <main>
    <div class="daily_content">
      <img class="daily_img" src="<%= homePageObject[0].img_url %>">
      <section class="text_container">
        <h2><%= homePageObject[0].title %> </h2>
        <article><%= homePageObject[0].explanation %></article>

        <div class="search-image-container">
          <h3 class="search-image-title">Search for More Space Images</h3>
          <form class="searchImage" action="/image-results" method="POST">
            <input class="search-image-input" type="text" name="search" placeholder="Enter Keywords" id="search"
              required>
            <input type="hidden" name="search" value="image">
            <button class="search-image-button" type="submit" class="imageSearch">NASA Image Search</button>
          </form>
        </div>
      </section>

    </div>
    <!-- <div class="search-image-container">
      <form class="searchImage" action="/image-results" method="POST">
        <input class="search-image-input" type="text" name="search" placeholder="Enter Keywords" id="search" required>
        <input type="hidden" name="search" value="image">
        <button class="search-image-button" type="submit" class="imageSearch">NASA Image Search</button>
      </form>
    </div> -->
    <section class="launch-tracker-title">
      <h2 class="tracker-title">Launch Tracker</h2>
      <form class="rocketSearch" action="/launch-results">
        <button class="rocketSearch">Search Upcoming Rocket Launches</button>
      </form>
    </section>
    <ul class="tracked-launches">
      <% homePageObject[1].rows.forEach(launch => { %>
      <li class="tracked-launch">

        <span class="date-label">Date: </span>
        <span class="provider-label">Provider: </span>
        <span class="mission-label">Mission: </span>
        <span class="description-label">Description: </span>
        <span class="orbital-label">Orbital Profile: </span>
        <span class="vehicle-label">Vehicle: </span>

        <p class="date-info"><%=launch.date%></p>
        <p class="launchprovider-info"><%=launch.launchprovider%></p>
        <p class="missionname-info"><%=launch.missionname%></p>
        <p class="missiondescription-info"><%=launch.missiondescription%></p>
        <p class="orbit-info"><%=launch.orbit%></p>
        <p class="rocketname-info"><%=launch.rocketname%></p>
        <span class="status-info">
          <h3><%=launch.statusname%></h3>
          <p><%=launch.rocketstartwindow%></p>
          <p><%=launch.rocketendwindow%></p>
        </span>
        <form class="remove_from_tracker" action="/<%= launch.id %>?_warp=DELETE" method="POST">
          <button type="submit">Remove From Tracker</button>
        </form>
      </li>

      <% }) %>
    </ul>
  </main>
  <footer>
    <%- include('./partials/footer') %>
  </footer>
</body>

</html>